/*Question 1*/

#container{
    height: 400px;
    width: 400px;
    border: 3px solid aqua;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.items{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: grey;
}

/*Question 2*/

#container2{
    height: 50px;
    width: 900px;
    background-color: lightpink;
    border: 2px solid aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.items2{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
}