<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Example template</title>
  </head>
  <body>
    <h1>This is Sample Tempate Page</h1>
    <h2> <%= ["hello", "bonjour", "namaste"][0] %></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia atque,
      rerum unde, nesciunt accusamus esse facere beatae consequuntur, voluptas
      blanditiis sed pariatur nam architecto sequi at? Soluta sit itaque quia.
      Laudantium doloribus, autem suscipit odio quisquam sunt enim quasi
      officiis pariatur quia recusandae consequatur veritatis, quam illum eaque
      ipsam rerum non deleniti facere sed deserunt ea cupiditate ex consectetur?
      In? Dicta iste dolore reprehenderit optio porro, error ipsam dignissimos
      obcaecati omnis consequuntur. Minima eos aliquam velit, asperiores
      deleniti quaerat, tenetur pariatur harum similique optio, nobis at ipsa
      consectetur accusamus perferendis?
    </p>
    <button>Like it </button>
  </body>
</html>
